body {
  background-color: #1b1c1d;
}

.logo {
  display: flex !important;
  justify-content: center;
  align-items: center;
  width: fit-content;
}

.logo svg {
  width: 2.5em;
  height: 2.5em;
  fill: currentColor;
  margin: -0.4em !important;
}

.tagify {
  width: 100%;
  border-radius: 0.28571429rem;
  --tags-focus-border-color: #85b7d9;
  --placeholder-color: rgba(191, 191, 191, 0.87);
  --placeholder-color-focus: rgba(115, 115, 115, 0.87);
}

.ui.table {
  caption-side: bottom;
}

.ui.label {
  margin: 0.14285714em;
}

.ui.label > .detail {
  margin-left: 0.3em;
  text-transform: capitalize;
}

.ui.form .fields > .field {
  width: 100%;
}

.ui.ui.form .field .fields .field:not(:only-child) .ui.checkbox {
  margin-top: 0;
}

.ui.dropdown.label {
  min-width: auto;
}

.ui.dropdown.label > .remove.icon {
  right: 2.3em;
}

.toast-container .ui.header {
  text-transform: capitalize;
}

.share-size {
  --free-ratio: calc(var(--free) / var(--total));
  --used-percent: calc(100% - 100% * var(--free-ratio));
  --color: hsl(calc(120 * var(--free-ratio)) 100% 50%);
  background-image: linear-gradient(
    to right,
    var(--color) var(--used-percent),
    transparent var(--used-percent),
    transparent
  ) !important;
  text-align: center !important;
}

.mini.share-size {
  font-size: 0.64285714rem !important;
}

.ui.card .table {
  overflow-x: auto;
}

.inverted tags {
  background-color: white;
}
