.header svg {
    margin: -.3em -.5em -.5em -.4em;
    fill: currentColor;
}

.main.container {
    margin-top: 7em;
}

.tagify {
    width: 100%;
    border-radius: .28571429rem;
    --tags-focus-border-color: #85b7d9;
    --placeholder-color: rgba(191,191,191,.87);
    --placeholder-color-focus: rgba(115,115,115,.87);
}

.ui.table {
    caption-side: bottom;
}

.ui.label {
    margin: .14285714em;
}

.ui.label > .detail {
    margin-left: .3em;
}

.ui.ui.form .field .fields .field:not(:only-child) .ui.checkbox {
    margin-top: 0;
}

.share-size {
    --free-ratio: calc(var(--free) / var(--total));
    --used-percent: calc(100% - 100%*var(--free-ratio));
    --color: hsl(calc(120*var(--free-ratio)) 100% 50%);
    background-image: linear-gradient(to right, var(--color) var(--used-percent), transparent var(--used-percent), transparent) !important;
}